<div class="container">
  <div class="perfil-admin-box">
    <h1 class="main-title">Meu Perfil</h1>

    <div class="profile-card header-section">
      <div class="avatar-circle">
        <img src="assets/images/easyeats.png" alt="Logo EasyEats" />
      </div>
      <div class="brand-info">
        <h2><strong>BurguerTime</strong> <span>(Administrador)</span></h2>
        <p class="description">
          Gerencie seu estabelecimento, visualize estatísticas e acesse configurações.
        </p>
      </div>
    </div>

    <div class="content">
      <div class="profile-card info-section">
        <h3>Informações de Cadastro</h3>

        <div class="info-item">
          <div class="label-group">
            <span class="label-title">Nome: </span>
            @if (!modoEdicao) {
            <div class="value">{{ usuario.nome }}</div>
            }
            @else {
            <input [(ngModel)]="usuario.nome" class="input-edicao">
            }
          </div>

          <div class="info-item">
            <div class="label-group">
              <span class="label-title">Email: </span>
              @if (!modoEdicao) {
              <div class="value">{{ usuario.email }}</div>
              } @else {
              <input [(ngModel)]="usuario.email" class="input-edicao">
              }
            </div>

            <div class="info-item">
              <div class="label-group">
                <span class="label-title">Telefone: </span>
                @if (!modoEdicao) {
                <div class="value">{{ usuario.telefone }}</div>
                } @else {
                <input [(ngModel)]="usuario.telefone" class="input-edicao">
                }
              </div>

              <div class="info-item">
                <div class="label-group">
                  <span class="label-title">CPF: </span>
                  @if (!modoEdicao) {
                  <div class="value">{{ usuario.cpf }}</div>
                  } @else {
                  <input [(ngModel)]="usuario.cpf" class="input-edicao">
                  }
                  
                </div>
              </div>
              <div class="admin-actions">
                <div class="button-row">
                  <button type="button" class="btn-padrao" (click)="acessarRota('/financeiro')">
                    Financeiro
                  </button>
                  <button type="button" class="btn-padrao" (click)="acessarRota('/controle-estoque')">
                    Gerenciar Estoque
                  </button>
                </div>

                <div class="button-row">
                  <button type="button" class="btn-padrao" (click)="acessarRota('/cadastro-produto')">
                    Produtos
                  </button>
                  <button type="button" class="btn-padrao" (click)="acessarRota('/cadastro')">
                    Cadastrar Garçom
                  </button>
                </div>

                <div class="button-row footer-actions">
                  <button type="button" class="btn-padrao">Editar Perfil</button>
                  <button type="button" class="btn-red-outline" routerLink="/login" routerLinkActive="active">
                    Sair da Conta
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-navbar></app-navbar>